/*
  Name: Mack McCall
  Date: 02.13.2026
  CSC 372-01

  This is the style.css page for my campus food blog. It includes the image size restrictions, 
  the image credit styling and the flexbox implementation.
*/

header {
  color: navy;
}

h2 {
  color: darkgoldenrod;
}

h3 {
  color: darkslategray;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.image-credit {
  font-size: 60%;
  color: gray;
}

.dish-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dish {
  flex: 300px;
  border: 1px solid #ddd;
  padding: 15px;
}
